
.font-primary {
    font-family: 'Playfair Display', serif;
}

.font-secondary {
    font-family: 'Urbanist', sans-serif;
}


.bg-dream-home {
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
    
  }

  .text-color{
    color: #B68C5A;
  }


  .bg-color{
    background-color: #B68C5A;
  }
  

